.btn{
    margin-top: 20px;
    background: #FF8E88 !important;
    color: #fff !important;
    font-size: 12px;
    text-align: center;
    font-weight: 600 !important;
    padding: 9px 14px;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    outline: none;

}
.btn:hover{
    text-transform: none;
}

.btn:focus{
    outline: none;
}