.block{
    height: 70px;
    display: flex;
    font-size: 13px;

}
.itemsSize{
    width: 30%;
    height: 100%;
    padding: 10px;

}
.link{
    text-decoration: none;
    color: #444444;
    text-transform: capitalize;

}
.link:hover{
    color: #ffffff;
}
.item1{
    background-color:#FF8E88;
}
.item2{
    background-color:#FF7B74;
}
.item3{
    background-color:#F4716A;
}
@media screen and  (max-width : 520px) {
    .block{
        display: none;
    }

}