.block{
    width: 100%;
    display: none;
    text-transform: capitalize;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    box-sizing: border-box;
}
.items{
    width: 33%;
}
b{
    color: #F4716A;
}
.link{
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}
.link:hover{
    color: #00BCDF;
    background: #ffffff;
}



@media screen and  (max-width : 520px) {
    .block{
      display: flex;
    }

}
@media screen and (max-width: 356px) {
    .block{
        font-size: 10px;
    }
}