.dialog{
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 22px;
    float: left;
}

.active{
    color: gold;
}
.dialog img{
    width: 70px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.dialog b{
    font-weight: 700;
    color: #444444;
    transition: all 0.2s ease-in;
    outline: none;
    text-transform: capitalize;
    display: block;
    margin-bottom: 10px;
}
.dialog a{
    text-decoration: none;
}
.dialog b:hover{
    color: #8FBF83;
}