.dialogs{
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    padding: 50px;
    margin: 0 auto;
}
.dialogs:after {
    content: "."; /* добавить содержимое: "." */
    display: block;  /* сделать блоком, т.к. inline не может иметь clear */
    clear: both;  /* с обеих сторон clear */
    visibility: hidden; /* сделать невидимым, зачем нам точка внизу? */
    height: 0;  /* сделать высоту 0, чтобы не занимал место */
}

.dialogs h1{
    color: #ffffff;
}

.searchUsers{
    margin: 0 auto;
    width: 100%;

}
.searchUsers .title{
    font-size: 20px;
    font-weight: 300;
    align-self: center;
}
.search{
    margin-bottom: 20px;
     width: 270px;
    height: 35px;
    box-shadow: 0 0 1px rgba(0,0,0,.2);
    padding: 10px;
    background-color: #ffffff;
    position: relative;
    align-self: center;
}
.inputSearch input{
    font-size: 13px;
    font-weight: 400;
    padding: 9px 10px;
    border: 1px solid #ddd;
    color: #666;
    border-radius: 3px;
    background: #fff;
    outline: none;
}
.inputSearch input::placeholder{
    color: #dddddd;
    opacity: 1;
    transition: all 0.2s ease-in;
    text-transform: capitalize;
}
.inputSearch input:focus::placeholder{
    opacity: 0;
    transition: all 0.2s ease-in;
}
.searchUsers .search .buttonSearch{
    position: absolute;
    right:10px;
    top: 15px;
}
.counterUsers{
    width: 100%;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    line-height: 50px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    float: left;
    margin-bottom: 22px;
}
.counterUsers .text{
    float: left;
}
.counterUsers .numbers{
    float: right;
    background:#00BCDF;
    color: #fff !important;
    font-size: 14px;
    font-weight: bold;
    padding: 0 5px;
}
.viewingInfo {
    font-size: 19px;
    color: #444;
    margin-bottom: 22px;
    clear: both;
}
@media screen and (max-width: 524px) {
    .dialogs{
        padding: 5px;
    }

}